
.Rhistory
*.pper
.Rproj.user/0A5359D9/rmd-outputs
.Rproj.user/0A5359D9/saved_source_markers
.Rproj.user/0A5359D9/sources/prop/C9014236
.Rproj.user/0A5359D9/sources/prop/INDEX
.Rproj.user/0A5359D9/sources/s-23888504/ADFBEC63
.Rproj.user/0A5359D9/sources/s-23888504/ADFBEC63-contents
.Rproj.user/0A5359D9/sources/s-23888504/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user
.Rproj.user/0A5359D9/sources/prop/D194CAD9
.Rproj.user/0A5359D9/sources/prop/C89FD99A
.Rproj.user/0A5359D9/sources/prop/80C00E60
.Rproj.user/0A5359D9/sources/prop/80C00E60
.Rproj.user/0A5359D9/sources/prop/C89FD99A
.Rproj.user/0A5359D9/sources/prop/D194CAD9
.Rproj.user/0A5359D9/persistent-state
.Rproj.user/0A5359D9/sources/prop/80C00E60
.Rproj.user/0A5359D9/sources/prop/C89FD99A
.Rproj.user/0A5359D9/sources/prop/D194CAD9
.Rproj.user/0A5359D9/persistent-state
.Rproj.user/0A5359D9/sources/prop/80C00E60
.Rproj.user/0A5359D9/sources/prop/C89FD99A
.Rproj.user/0A5359D9/sources/prop/D194CAD9
.Rproj.user/0A5359D9/persistent-state
.Rproj.user/0A5359D9/sources/prop/80C00E60
.Rproj.user/0A5359D9/sources/prop/C89FD99A
.Rproj.user/0A5359D9/sources/prop/80C00E60
.Rproj.user/0A5359D9/sources/prop/D194CAD9
